mixin vermas
  button(type="button").btn.deployer.small
    .mas
      i.fa.fa-plus
      |  Ver más
    .menos
      i.fa.fa-minus
      |  Ver menos

mixin ECG
  .clear
  .c2: img(src="_/img/lt_icon-ecg.png", alt="EGC", class="tooltip", title="EGC Rítmo cardiáco Exacto")
  .c12
    p: strong ECG Ritmo Cardiaco Exacto
    +vermas
    ul.hidden
      li Mantente en la zona. Obtén una mejor estimación de calorías y el seguimiento de su nivel de intensidad presionando un botón.
      li Revisa el nivel del esfuerzo mediante la medición de la frecuencia cardíaca sin correa para el pecho.
      li Simplemente presiona un botón para ver la referencia de la frecuencia cardíaca y el porcentaje de la frecuencia cardíaca máxima a la derecha en la pantalla.
      li Se mostrará la frecuencia cardíaca anteriormente registrada mientras el LifeTrak Brite R450 calcula el ritmo cardíaco actual. Múltiples mediciones almacenadas.
  
  
mixin ON
  .clear
  .c2: img(src="_/img/lt_icon-on.png", alt="ON", class="tooltip", title="Siempre encendido")
  .c12
    p: strong Siempre encendido
    p Info de un vistazo. Ver de forma instantánea el progreso diario y revisión por hora y los datos semanales.
    +vermas
    ul.hidden
      li Registros de 7 días y por hora en la muñeca
      li Convenientemente ve tu progreso y estadísticas sin sacar tu Smartphone.
      li Use la pantalla de tamaño generosa y botones para navegar sencillamente; la información es almacenada por siete días.
  
  
mixin NOT
  .clear
  .c2: img(src="_/img/lt_icon-not.png", alt="NOT", class="tooltip", title="Notificaciones")
  .c12
    p: strong Notificaciones*
    p Mantente en contacto. Podrás ver alertas de fitness y una vista previa de los mensajes en tu muñeca.       Recordatorios , IM , SMS , correos electrónicos , llamadas y más.
    +vermas
    ul.hidden
      li Mantente motivado y activo con las notificaciones de fitness.
      li Permanece enlazado con las notificaciones sociales de tu familia , amigos , calendario y tus aplicaciones favoritas.
      li Sincroniza tu Brite R450 con la aplicación LifeTrak una sola vez y automáticamente recibes las notificaciones en tu reloj. El Brite R450 guarda hasta 20 notificaciones.
      li Interprete rápidamente notificaciones debido a que LifeTrak Brite R450 usa distintos iconos para los diversos tipos de notificaciones: IM, SMS, emails, llamadas entrantes, llamadas perdidas, recordatorios, RSS/noticias, general.
      li Personalizar los tipos de notificación, a partir del centro de mensajes de su teléfono inteligente, aparece en su muñeca, a través de la aplicación LifeTrak.

mixin SLP
  .clear
  .c2: img(src="_/img/lt_icon-slp.png", alt="SLP", class="tooltip", title="SleepTrak 2.0")
  .c12
    p: strong SleepTrak 2.0
    p Despierta fresco y renovado.   Detecta el sueño, siesta y al despertarte de forma automática. El monitor inteligente Wake Up mide la calidad de tu sueño y te despierta en el momento óptimo.
    +vermas
    ul.hidden
      li Descanse tranquilo sin necesidad de decirle a LifeTrak Brite R450 si vas a dormir o despertar.
      li Utiliza una alarma de vibración suave y en conjunto con tus datos de calidad del sueño en tiempo real te despierta en la ventana de tiempo que selecciones previamente cuando no estas en un sueño profundo.
      li El sensor de la muñeca del LifeTrak Brite R450 detecta tanto sueño como siestas
      li Revisa tus datos de calidad del sueño para mejorar el descanso nocturno.
      li LifeTrak Brite R450 monitore la calidad de tu sueño en base al movimiento, postura, luz ambiente y detección avanzada de movimiento de muñeca.
      
mixin SEG
  .clear
  .c2: img(src="_/img/lt_icon-seg.png", alt="SEG", class="tooltip", title="Seguimiento exacto")
  .c12
    p: strong Seguimiento exacto
    p Conoce tus números.  Rastrea automáticamente todos los días, quema de calorías, pasos, distancia y entrenamientos. Almacena datos de hasta siete días en la muñeca.
    +vermas
    ul.hidden
      li Seguimiento avanzado de calorias.
      li Seguimiento avanzado de la quema de calorías para obtener una imagen más precisa de tu progreso.
      li Las calorías quemadas se calculan con las lecturas del ritmo cardíaco, la actividad y estadísticas personales.
      li Contador de Pasos y Cálculo de Distancia
      li Utiliza un regulador de 50-60 pasos para filtrar los pasos en falso, asegurándose de que verdaderamente estas caminando, antes de actualizar el conteo..
      li Uses a 50-60 step buffer to filter out false steps by making sure you are really walking, before updating the count.
      li Se ajusta para caminar, trotar o correr a través de un algoritmo basado en el ritmo patentado

mixin APP
  .clear
  .c2: img(src="_/img/lt_icon-app.png", alt="APP", class="tooltip", title="Conectado a la app")
  .c12
    p: strong Conectado a la app
    p Piensa a largo plazo.  Ver gráficos detallados.  Revisa más de un año de datos.
    +vermas
    ul.hidden
      li Guarda todos sus datos , obtén una visión más profunda y ve las tendencias a largo plazo utilizando la aplicación LifeTrak .
      li Transfiere datos del Brite R450 a tu Smartphone y tableta con sólo pulsar un botón.*
mixin BAT
  .clear
  .c2: img(src="_/img/lt_icon-bat.png", alt="BAT", class="tooltip", title="Batería de larga vida contra-agua")
  .c12
    p: strong Batería de larga duración y resistente al agua
    p Llévelo a cualquier hora y en cualquier lugar sin necesidad de recarga .
    +vermas
    ul.hidden
      li Sin carga.
      li Resistente al agua hasta 30 metros.
  
mixin EXT
  .clear
  .c2: img(src="_/img/lt_icon-ext.png", alt="EXT", class="tooltip", title="Extensibles adaptables ComfortFit")
  .c12
    p: strong Bandas ComfortFit personalizables
    p Personaliza a tu estilo. Bandas reversibles / intercambiables y colores adicionales disponibles en TargetSteele.com/lifetrak

mixin LT
  .clear
  .c2: img(src="_/img/lt_icon-lt.png", alt="LT", class="tooltip", title="LightTrak")
  .c12
    p: strong LightTrak
    p lumina tu día. La exposición adecuada a la luz natural mejora el estado de ánimo, la energía y el sueño. Mide los niveles de luz ambiental y azul alertándote para lograr una exposición óptima.
    +vermas
    ul.hidden
      li  Maximiza la mayor parte de tu día y obtén el mejor descanso durante las noches mediante el seguimiento de la exposición a los dos niveles de luz ambiental y azules.
      li Le notifica si necesita más luz natural para empezar el día o menos antes de ir a la cama.
      li Utiliza la aplicación LifeTrak para ver tus datos de exposición de luz y comparar tu actividad y sueño.


mixin SLP1
  .clear
  .c2: img(src="_/img/lt_icon-slp1.png", alt="SLP", class="tooltip", title="SleepTrak")
  .c12
    p: strong SleepTrak
    p Despierta fresco y renovado. Detecta el sueño y al despertarte de forma automática. Monitorea la calidad del sueño.
    +vermas
    ul.hidden
      li Descanse tranquilo sin necesidad de decirle a LifeTrak si vas a dormir o despertar.
      li Revisa tus datos de calidad del sueño para mejorar el descanso nocturno.
      li  LifeTrak monitorea la calidad de tu sueño en base al movimiento, postura, luz ambiente y detección avanzada de movimiento de muñeca.




mixin breadcrumbs(watch)
  section.container
    .breadcrumbs.c12
      a(href="index.html") Inicio
      | > 
      a(href="lifetrak.html") LifeTrak
      | > 
      span.name LifeTrak #{watch}