include _config.jade
include _mixins.jade

doctype html
html(lang="es")
  head
    +head(titulo + " | " , stylesheets, keywords, description)
  body
    .wrapper
      +header('stuhrling')
      
      ul.rslides(data-sr="enter bottom")
        li: img(src="_/img/stuhrling_banner.jpg", alt="Haste")
      

      +footer
    +scripts